* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf7dc;
  font-family: "Inter", sans-serif;

  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /* background-image: url('./images/pattern-runes-green-2x.png'); */
}

.recipe-card {
  background-color: #faf7dc;
  width: clamp(330px, 80%, 405px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  /* background-color: #ffffff; */
  /* max-width: 405px; */
  /* max-height: 500px; */
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.recipe-description {
  font-style: italic;
  /* font-size: 1.166rem; */
  margin: 18px 0;
  text-align: center;
}

.recipe-img {
  max-width: 192px;
}

.recipe-number {
  color: #48d39b;
  margin: 0 16px;
  font-family: "Inknut Antiqua", serif;
}

.recipe-name {
  margin: 0 0 21px 0;
}

.ingredients-img {
  max-height: 64px;
  max-width: 64px;
  min-width: 48px;
}

.ingredients-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-effect {
  /* background-color: #ceba8c; */
  border: #ceba8c 1px solid;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  margin: 16px 0;
}

.wrapper {
  background-image: url("./images/pattern-runes-green-2x.png");
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
}

.wrapper-home {
  background-image: url("./images/bg-black.png");
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card {
  background-color: white;
  width: clamp(330px, 80%, 405px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.home-card img {
  width: 80%;
}

.recipe-link {
  text-decoration: none;
  color: black;
  font-size: 0.916rem;
}

.recipe-link:hover,
.credits:hover {
  text-decoration: none;
  color: #48d39b;
}

.wrapper-link {
  display: flex;
  gap: 1rem;
  border: #ceba8c 1px solid;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 16px 0;

  /* background-color: #48d39b; */
  /* border: #ceba8c 1px solid; */
}

.details {
  font-family: "Inknut Antiqua", serif;
  color: #48d39b;
  font-size: 0.75rem;
}

.credits-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.credits {
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 0.75rem;
  text-decoration: none;
}

.home-btn {
  background-color: transparent;
  color: black;
  padding: 1rem;
  border-radius: 15px;
  transition: background-color 0.5s ease-in;
  width: 120px;
  text-align: center;
}

.home-btn:hover {
  width: 126px;
}

.home-btn img {
  width: 100%;
}